*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
}

li{ list-style: none; }

h1 , h2 , h3 , h4 , h5 , h6 , strong{
    font-size: inherit;
    font-weight: inherit;
}
a{
    display: block;
    color:inherit;
    text-decoration: none;
}
p a{
    display: inline;
}
img , video {
    display: block;
    max-width: 100%;
    width:100%;
}
svg{
    display: block;
    fill: currentColor;
}
form , input , textarea , label , button , fieldset , legend  , select {
    display: block;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color:inherit;
    background-color: transparent;
}

:root{
    font-size: 100%;
    --color-white: white;
    --color-black: black;
    --color-grey: grey;
    --color-lightgrey: #f0f0f0;
    --color-green: #68b631;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Lato', sans-serif;
    padding-top: 76px;
}

.Header {
    width: 100%;
    background-color: var(--color-white);

    padding: 1.25rem 0;

    position: fixed;
    z-index: 1;
    top: 0;
}

.Header-wrapper {
    width: 80%;;
    
    margin: auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.Header-h1 {
    width: 15%;
}

.Header-logo {}

.Header-btn {
    width: 2.2rem;
    display: none;
}

.Header-svg {}

.Header-nav {}

.Header-ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1.25rem;
}

.Header-li {}

.Header-a {
    color: var(--color-black);
    letter-spacing: 2px;
    font-weight: 500;
}

.Header-a:hover {
    color: var(--color-grey);
}

@media screen and (max-width: 1080px) {
    .Header-btn{
        display: block;
    }

    .Header-nav {
        background-color: var(--color-white);
        width: 90%;
        height: 100vh;
        padding: 0 0 0 3.75rem;

        transform: translateX(-150%);
        transition: all .4s ease;

        position: absolute;
        top: 4.6875rem;
        left: 0;
    }

    .Header-nav.isActive {
        transform: translateX(0%);
    }

    .Header-ul {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.Main {
    width: 100%;
}

.Main-section {
    width: 100%;
}

.Elemental {
    width: 100%;

    position: relative;
}

.Elemental-fondo {
    width: 100%;
    min-height: 90vh;
    object-fit: cover;
}

.Elemental-h2 {
    width: 40%;

    position: absolute;
    bottom: 10%;
    left: 30%;
}

.Elemental-logo {
    width: 100%;
}

.Columns {
    width: 100%;
    background-color: var(--color-white);

    padding: 6.25rem 0;
}

.Columns-wrapper {
    width: 80%;

    margin: auto;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.875rem;
}

.Columns-article {
    width: calc( 100% / 3 );
}

.Columns-img {
    width: 100%;

    margin: 0 0 30px;
}

.Columns-h3 {
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
}

@media screen and (max-width: 712px) {
    .Columns-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .Columns-article {
        width: 100%;
    }
}


.Social {
    width: 100%;

    padding: 0 0 3.125rem;
}

.Social-ul {
    max-width: 12.5rem;

    margin: auto;
    padding: 1.25rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: .625rem;
}

.Social-li {
    width: 30%;
}

.Social-a {

}

.Social-svg {
    width: 100%;
}

.Social-svg:hover {
    fill: var(--color-grey);
}


.Footer {
    width: 100%;

    padding: 0 0 3.125rem;
}


.Footer-menu {
    width: 60%;

    margin: 40px auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.Footer-li {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.Footer-li::after {
    content:'';
    background-color: var(--color-black);
    display: block;
    width: 1px;
    height: 1.25rem;
    margin: 0 .9375rem;
}

.Footer-li:last-child::after {
    display: none;
}

.Footer-a {
    color: var(--color-black);
    padding: 0 0 2px;
}

.Footer-a:hover {
    color: var(--color-grey);
}

.Footer-h3 {
    font-weight: 300;
    letter-spacing: 2px;
    border-bottom: 1px solid var(--color-black);
}

.Footer-h3:hover {
    border-bottom: 1px solid var(--color-grey);
}

.Footer-copyright {
    width: 50%;
    margin: auto;
}

.Footer-copyright-h3 {
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
}

.Footer-btn {
    width: 40vw;
    background-color: var(--color-lightgrey);
    border: 2px solid var(--color-green);
    color: var(--color-green);

    margin: 1.875rem auto;
}

.Footer-btn-a {
    margin: auto;
    padding: 0.8969rem 2.2rem;
}

.Footer-btn-a:hover {
    color: var(--color-white);
    background-color: var(--color-green);
}

.Footer-btn-h3 {
    text-align: center;
}

@media screen and (max-width: 980px) {
    .Footer-btn {
        width: 40vw;
    }
}

@media screen and (max-width: 712px) {
    .Footer-menu {
        width: 80%;
    }

    .Footer-btn {
        width: 80vw;
    }
}